body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    position: absolute;
    top: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.wrapper{
    background-color: lightslategray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card{
    width: 100px;
    height: 100px;
    background-color: rgb(67, 66, 66);
    border-radius: 50%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}